<%- include('partials/header') %>

  <img class="top-img" src="images/fm2.png" alt="cloud">
    <img class="mid-img" src="images/fm3.png" alt="cloud">
    <img class="bottom-img" src="images/qw11.png" alt="cloud">
<div style="background:transparent !important" class="jumbotron centered">
  <div class="container home">

    <i class="fas fa-book fa-6x"></i>
    <i class="fas fa-pen fa-6x"></i>

    <h1 class="display-3">Writer's Pad</h1>
    <p class="lead">Let the world hear you!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>



<%- include('partials/footer') %>
