
body {


  background-color: #E8ECEF;

}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 1rem;


}
.top-img{
  position: absolute;
  top:30px;
  right: 500px;

}
.mid-img{position: absolute;
top:500px;
left: 120px;
}
.bottom-img{position: absolute;
bottom:80px;
right: 100px;


}
